<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Search</title>
</head>
<body>
    <h1>Hostel Search</h1>
    <form action="/search" method="post">
        <label for="location">Enter location:</label>
        <input type="text" id="location" name="location" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>
